{% extends "base.html" %} {% load cms_tags menu_tags sekizai_tags staticfiles comments threadedcomments_tags%}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block javascript %}
    <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
        })

    </script>
{% endblock %}

{% block content%}

    {% for message in messages %}
     <div class="message">
        <p class="title">{{ message.title }}</p>
        <p class="text">{{ message.text }}</p>
    </div>

    <div class="comments_wrapper" id="comments">
        <h5>Comments : </h5>
        {% render_comment_list for message %}

        <div  id="wrap_write_comment">
            <h6>Write your comment below : </h6>
                {% if user.is_authenticated %}
                {% get_comment_form for message as form %}
                <div id="form-comment">
                <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                
                {{ form.comment }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                {{ form.parent }}
                 <br>   
                <input type="hidden" name="next" value="{% url 'comment:threadview' %}" />
                <!-- <input type="submit" value="Add comment"  /> -->
                <button type="submit" id="id_submit">Add comment</button>
                </form>
            </div>
            {% else %}
                <p>Please <a href="">log in</a> to leave a comment.</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}


{% endblock content %}